LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="<your-api-key>"
LANGCHAIN_PROJECT="<your-project>"

AZURE_OPENAI_API_KEY="<your-api-key>"
AZURE_OPENAI_ENDPOINT="<your-endpoint>"

AZURE_EMBED_API_KEY="<your-embedding-api-key>"
AZURE_EMBED_ENDPOINT="<your-embedding-endpoint>"
AZURE_EMBED_RESOURCE_NAME="<your-embedding-resource-name>"

AZURE_DALLE_ENDPOINT="<your-dalle-endpoint>"
AZURE_DALLE_API_KEY="<your-dalle-api-key>"
AZURE_DALLE_DEPLOYMENT="<your-dalle-deployment>"

GOOGLE_API_KEY="<your-google-api-key>"

MISTRAL_API_KEY="<your-mistral-api-key>"
