LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="<your-api-key>"
LANGCHAIN_PROJECT="<your-project>"

AZURE_OPENAI_API_KEY="<your-api-key>"
AZURE_OPENAI_ENDPOINT="<your-endpoint>"
