langchain==0.0.352
langsmith==0.0.75
python-dotenv==1.0.0
openai==1.6.1
weaviate-client==3.26.0
tiktoken==0.5.2
pydantic==2.5.3
duckduckgo-search==4.1.0
beautifulsoup4==4.12.2
langserve==0.0.37
nest_asyncio==1.5.8
fastapi==0.105.0
uvicorn==0.25.0
sse_starlette==1.8.2
ragas==0.0.22
langchain-google-genai==0.0.5
pillow==10.1.0
langchain_mistralai==0.0.1
